<section id="content-right">
    <section id="content-right-one">
        <h2>MENU</h2>
    </section>
    <section id="content-right-two">
        <ol>
            <li><a [routerLink]="['fryzura']">Strzyżenie</a>
                <ul>
                    <li>średnie</li>
                    <li>półdługie</li>
                    <li>długie</li>
                </ul>
            </li>
            <li>Czesanie</li>
            <li>Koloryzacja</li>
        </ol>
    </section>
    <section id="content-right-three">
        <img src="../../assets/obraz1.jpg" alt="Fryzjer">
    </section>
</section>