<section id="container-left">
    <h3>Proste działania</h3>
    <form (ngSubmit)="onSubmit(form1)" #form1="ngForm">
        <label for="a">liczba A </label> <input type="number" id="a" name="a" ngModel required><br>
        <label for="b">liczba B </label> <input type="number" id="b" name="b" ngModel required><br>
        <input type="submit" name="o1" value="+" (click)="onItemSelector('+')">
        <input type="submit" name="o2" value="-" (click)="onItemSelector('-')">
        <input type="submit" name="o3" value="*" (click)="onItemSelector('*')">
        <input type="submit" name="o4" value="/" (click)="onItemSelector('/')">
        <input type="submit" name="o5" value="^" (click)="onItemSelector('^')">
    </form>
    <div id="result">{{ message }}</div>
</section>
