<section id="banner-left">
  <h1>Stacja paliw</h1>
</section>
<section id="banner-right">
  <a [routerLink]="['/']"><img src="../assets/home.png"></a>
  <a [routerLink]="['/obliczenia']"><img src="../assets/znak.png"></a>
</section>
<router-outlet></router-outlet>
<section id="container-left">
  <a href="../assets/kwerendy.txt">Pobierz kwerendy</a>
</section>
<section id="container-right">
  <img src="../assets/samochod.png" alt="samochód">
</section>
<section id="footer">
  <p>Stronę opracował: 12345678901</p>
</section>