<section id="container-left">
    <h3>{{ constructor.name }}</h3>
    <h6>{{ MyData.message }} {{ MyData.status }}</h6>
    <form clrForm clrLayout="horizontal" clrLabelSize="4" (ngSubmit)="onSubmit(form1)" #form1="ngForm">
        <clr-input-container>
          <label for="a">liczba A</label>
          <input clrInput type="number" name="a" ngModel required>
          <clr-control-error>We need your a for legal compliance</clr-control-error>
        </clr-input-container>
        <clr-input-container>
            <label for="b">liczba B</label>
            <input clrInput type="number" name="b" ngModel required>
            <clr-control-error>We need your b for legal compliance</clr-control-error>
        </clr-input-container>
        <button class="btn btn-primary" type="submit" (click)="onItemSelector('+')">+</button>
        <button class="btn btn-primary" type="submit" (click)="onItemSelector('-')">-</button>
        <button class="btn btn-primary" type="submit" (click)="onItemSelector('*')">*</button>
        <button class="btn btn-primary" type="submit" (click)="onItemSelector('/')">/</button>
        <button class="btn btn-primary" type="submit" (click)="onItemSelector('^')">^</button>
        
    </form>
    <div id="result">{{ message }}</div>
    
</section>


