<section id="banner_right">
    <h3>Obrazy w naszej galerii</h3>
    <table>
        <tr>
            <td>Europa</td>
            <td>Azja</td>
            <td>Afryka</td>
        </tr>
        <tr>
            <td>2</td>
            <td>2</td>
            <td>1</td>
        </tr>
    </table>
    <p>
        Polub nas
        <img (click)="toggleImage()" src='{{ showVar ? "../../assets/images/icon-off.png" : "../../assets/images/icon-on.png"}}'>
    </p>
    <a href="https://pixabay.com">Odkryj więcej zdjęć</a>
</section>