<section id="block-left">
    <ol>
        <li>ciągi arytmetyczne</li>
        <li>ciągi geometryczne</li>
        <li>ciąg Fibonacciego</li>
    </ol>
</section>

<section id="block-right">
    <h2>Generowanie ciągu arytmetycznego</h2>
    <form (ngSubmit)="onSubmit(form1)" #form1="ngForm">
        <label for="a1">wyraz A1:</label>
        <input type="number" id="wyraz" name="a1" ngModel required> <br>
        <label for="r">Różnica ciągu R: </label>
        <input type="number" id="roznica" name="r" ngModel required> <br>
        <label for="n">Liczba wyrazów w ciągu N: </label>
        <input type="number" id="ilosc" name="n" ngModel required> <br>
        <input type="submit" id="guzik" value="Generuj Ciąg">
    </form>
    <br>
    <span id="wynik">{{ message }}</span>
</section>
