<section id="banner1">
    <h2>Poznaj Ciągi Liczbowe</h2>
</section>

<section id="banner2">
    <a href="liczby.html"><h5>Ciągi arytmetyczne</h5></a>
</section>

<section id="banner3">
    <a href="fib.html"><h5>Ciąg Fibonacciego</h5></a>
</section>

<section id="banner4">
    <img src="obraz1.png" alt="Fibonacci">
</section>

<section id="left_block">
    <ol>
        <li>ciągi arytmetyczne</li>
        <li>ciągi geometryczne</li>
        <li>ciąg Fibonacciego</li>
    </ol>
</section>

<section id="right_block">
    <h2>Generowanie ciągu arytmetycznego</h2>
    Pierwszy wyraz A1:
    <input type="number" name="wyraz" id="wyraz"> <br>
    Różnica ciągu R:
    <input type="number" name="roznica" id="roznica"> <br>
    Liczba wyrazów w ciągu N:
    <input type="number" name="ilosc" id="ilosc"> <br>
    <input type="button" name="guzik" id="guzik" value="Generuj Ciąg" onclick="ciag()">
    <span id="wynik"></span>
</section>

<section id="footer">
    <p>Autor: 101010101001010101</p>
</section>
