<header class="header-6">
    <div class="branding">
        <a [routerLink]="['/']" class="nav-link">
            <img src="../assets/logo.jpg" alt="logo" style="height: 50px; margin-right: 20px">
            <span class="title">Pomocnik Matematyczny</span>
        </a>
    </div>
    <div class="header-nav">
        <a [routerLink]="['/dzialania']" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{exact:true}" aria-current="page"><span class="nav-text">Działania</span></a>
        <a [routerLink]="['/mnozenie']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link"><span class="nav-text">Tabliczka mnożenia</span></a>
    </div>
</header>






