<!-- <section id="banner1">
    <img src="../assets/logo.jpg" alt="matematyka">
</section>
<section id="banner2">
    <h1>Pomocnik matematyczny</h1>
</section>
<section id="banner3">
    <a [routerLink]="['/']"><h3>Działania</h3></a>
</section>  
<section id="banner4">
    <a [routerLink]="['/mnozenie']"><h4>Tabliczka mnożenia</h4></a>
</section>
<div class="outer-outlet">
    <router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
</div> -->


    <clr-header>
        <clr-header>
            ...
            <div class="header-nav" [clr-nav-level]="1">
              ...
            </div>
            ...
          </clr-header>




