<section id="container-left">
  <h1>Konfigurator stylu</h1>
  <p>Podaj kolor tła</p>
  <form>
    <input type="button" value="Indigo">
    <input type="button" value="SteelBlue">
    <input type="button" value="Olive">
  </form>
  <p>Podaj kolor czcionki</p>
  <select name="">
    <option value="0">White</option>
    <option value="1">Tan</option>
    <option value="2">Bisque</option>
    <option value="3">Plum</option>
  </select>
  <p>Podaj rozmiar czcionki w procentach</p>
  <input type="text" value="100%">
  <p>Czy rysunek ma mieć ramkę?</p>
  <input type="checkbox" checked> Rysuj ramkę
  <p>Jaki jest typ punktora listy?</p>
  <input type="radio" name="punktory" value="dysk"> dysk<br>
  <input type="radio" name="punktory" value="kwadrat"> kwadrat<br>
  <input type="radio" name="punktory" value="okrąg"> okrąg <br>
</section>
<section id="container-right">
  <img src="../../assets/gibraltar.png" alt="półwysep Gibraltar">
  <ul>
    <li>element 1</li>
    <li>element 2</li>
    <li>element 3</li>
  </ul>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto alias, error accusamus unde sed provident nulla vitae eveniet saepe autem consequatur. Modi quasi distinctio quis hic repellat nulla magnam ab?</p>
</section>
<section id="footer">
  Autor: 2384765834756
</section>