  <section id="baner1">
      <img src="../assets/logo.jpg" alt="matematyka">
  </section>
  <section id="baner2">
      <h1>Pomocnik matematyczny</h1>
  </section>
  <section id="baner3">
    <a [routerLink]="['/']"><h3>Działania</h3></a>
  </section>  
  <section id="baner4">
      <a [routerLink]="['/mnozenie']"><h4>Tabliczka mnożenia</h4></a>
  </section>
  <div class="outer-outlet">
      <router-outlet></router-outlet>
  </div>
  <section id="prawy">
    <ul>
        <li>dodawanie</li>
        <li>odejmowanie</li>
        <li>mnożenie</li>
        <li>dzielenie</li>
        <li>potęgowanie</li>
    </ul>
    {{ app_var }}
  </section>
  <app-footer [author]="author" (zmiennaEksportujaca)="import($event)"></app-footer>
  