* {
    font-family: Verdana;
    color: #2F2F2F;
}

#banner1 {
    background-color: #DCDCDC;
    width: 55%;
    height: 80px;
    text-align: center;
    float: left;
}

#banner2, #banner3, #banner4 {
    background-color: #DCDCDC;
    width: 15%;
    height: 80px;
    float: left;
}

#block-left {
    background-color:  #808080;
    width: 30%;
    height: 450px;
    float: left;
}

#block-right {
    background-color:  #808080;
    width: 70%;
    height: 450px;
    float: left;
}

#footer {
    background-color: #DCDCDC;
    text-align: center;
    clear: both;
}

h5 {
    color: #808080;
    border: 1px solid #808080;
    margin: 7px;
    padding: 10px;
    font-size: 80%;
}

input {
    color: grey;
}