body {
	font-family: Georgia;
}
#container-left {
	background-color: Maroon;
	color: white;
	height: 600px;
	width: 30%;
	float: left;
}
#container-right {
	background-color: Maroon;
	color: white;
	height: 600px;
	width: 70%;
	overflow: scroll;
	float: left;
}
#footer {
	background-color: DimGray;
	color: white;
}
P {
	padding: 10px;
}
img {
	padding: 10px;
	/* border: 1px solid white; */
}
input[type="button"]:nth-of-type(1) {
	background-color: Indigo;

}
input[type="button"]:nth-of-type(2) {
	background-color: Steelblue;

}
input[type="button"]:nth-of-type(3) {
	background-color: Olive;

}

